.style1 A:link		{COLOR: #ffffff; TEXT-DECORATION: none; font-family:돋움}
.style1 A:visited	{COLOR: #ffffff; TEXT-DECORATION: none; font-family:돋움}
.style1 A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:돋움}

.style2 A:link		{COLOR: #333232; TEXT-DECORATION: none; font-family:돋움}
.style2 A:visited	{COLOR: #333232; TEXT-DECORATION: none; font-family:돋움}
.style2 A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:돋움}

.style3 A:link		{COLOR: #515151; TEXT-DECORATION: none; font-family:돋움}
.style3 A:visited	{COLOR: #515151; TEXT-DECORATION: none; font-family:돋움}
.style3 A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:돋움}


.style1				{font-size: 12px; 
					font-family: 돋움, Arial, Helvetica, sans-serif; 
					color: #FFFFFF; 
					letter-spacing:0; 
					margin-left:3px; 
					font-weight:bold;
					}
            
.style2				{font-size: 11px;
					font-family: 돋움, Arial, Helvetica, sans-serif; 
					color: #000000; 
					letter-spacing:0;
					margin-left:0px;
					
					}
					
.style3				{font-size: 11px;
					font-family: 돋움, Arial, Helvetica, sans-serif; 
					color: #333333; 
					letter-spacing:0;
					margin-left:0px
					}
.popUp_css			{
					BORDER-RIGHT: #dbdbdb 1px solid; 
					BORDER-TOP: #dbdbdb 1px solid; 
					DISPLAY: none; 
					LEFT: 300px; 
					BORDER-LEFT: #dbdbdb 1px solid; 
					WIDTH: 100px; 
					BORDER-BOTTOM: #dbdbdb 1px solid; 
					POSITION: absolute; 
					TOP: 200px
					}
					
/*					
.cssCompTitle A:link		{COLOR: #ffffff; TEXT-DECORATION: none; font-family:dotum}
.cssCompTitle A:visited	{COLOR: #ffffff; TEXT-DECORATION: none; font-family:dotum}
.cssCompTitle A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:dotum}
*/
.cssCompTitle a   	{font-size: 12px; 
					font-family: dotum, Arial, Helvetica, sans-serif; 
					/*color: #ffffff; */
				    color:#2d71c2;
					/*letter-spacing:0; 
					margin-left:3px; */
					font-weight:bold;
					}
				
/*	
.cssDeptTitle A:link		{COLOR: #ffffff; TEXT-DECORATION: none; font-family:dotum}
.cssDeptTitle A:visited	{COLOR: #ffffff; TEXT-DECORATION: none; font-family:dotum}
.cssDeptTitle A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:dotum}
*/
.cssDeptTitle a      {font-size: 12px; 
					font-family: dotum, Arial, Helvetica, sans-serif; 
					color: #253c8c; 
					font-weight:bold;
					}

/*
.cssDeptList A:link		{COLOR: #000000; TEXT-DECORATION: none; font-family:dotum}
.cssDeptList A:visited	{COLOR: #000000; TEXT-DECORATION: none; font-family:dotum}
.cssDeptList A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:dotum}
*/
.cssDeptList a      {font-size: 11px;
					font-family: dotum, Arial, Helvetica, sans-serif; 
					color: #0858bb; 
					font-weight:bold;
					padding-left:5px;
					}
					

/*
.cssDeptListChild A:link		{COLOR: #666666; TEXT-DECORATION: none; font-family:dotum}
.cssDeptListChild A:visited	{COLOR: #666666; TEXT-DECORATION: none; font-family:dotum}
.cssDeptListChild A:hover		{COLOR: #144ED1; TEXT-DECORATION: none; font-family:dotum}			
*/
.cssDeptListChild a      {font-size: 11px;
					font-family: dotum, Arial, Helvetica, sans-serif; 
					color: #4583af; 
					}
					
					




.cssSignalTitle   	{font-size: 11px; 
					font-family: dotum, Arial, Helvetica, sans-serif; 
					color: #000000; 
					/*letter-spacing:0;
					font-weight:bold;*/
					
				    width:40px;
				    padding-left:5px;
					}
					


.cssSignalImg   	{font-size: 11px; 
					font-family: dotum, Arial, Helvetica, sans-serif; 
					color: #666666; 
					/*letter-spacing:0; 
					font-weight:bold;*/
					}
					
					
