TD.line1 {
	BORDER-TOP: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid
}
TD.line2 {
	BORDER-TOP: #c2c2c2 1px solid
}
TD.line3 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid
}
TD.line4 {
	BORDER-LEFT: #c2c2c2 1px solid
}
TD.line5 {
	BORDER-RIGHT: #c2c2c2 1px solid
}
TD.line6 {
	BORDER-LEFT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line7 {
	BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line8 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line9 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line10 {
	BORDER-TOP: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line11 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid
}
TD.line12 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line13 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid; BORDER-BOTTOM: #c2c2c2 1px solid
}
TD.line14 {
	BORDER-TOP: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid; COLOR: #494949; BACKGROUND-COLOR: #dce4f6
}
TD.line15 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid; COLOR: #494949; BACKGROUND-COLOR: #dce4f6
}
TD.b_line1 {
	BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid
}
TD.b_line2 {
	BORDER-TOP: black 1px solid
}
TD.b_line3 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid
}
TD.b_line4 {
	BORDER-LEFT: black 1px solid
}
TD.b_line5 {
	BORDER-RIGHT: black 1px solid
}
TD.b_line6 {
	BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.b_line7 {
	BORDER-BOTTOM: black 1px solid
}
TD.b_line8 {
	BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.b_line9 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.b_line10 {
	BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.b_line11 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid
}
TD.b_line12 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.b_line13 {
	BORDER-RIGHT: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.b_line14 {
	BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: #494949; BACKGROUND-COLOR: #dce4f6
}
TD.b_line15 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: #494949; BACKGROUND-COLOR: #dce4f6
}
