<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <infragistics.web imageDirectory="~/_common/infragistics" javaScriptDirectory="~/_common/js/Infragistics/"/>
  <appSettings>
    <!--설정된 UserIP 로 로그인을 할 것에 대한 Flag-->
    <add key="ErrorLog.LogFileName" value="MicroBSC_ErrorLog.log"/>
    <add key="EmpInfo.UploadImages.Sign" value="_common/UploadImages/EmpInfo/Sign"/>
    <add key="EmpInfo.UploadImages.Stamp" value="_common/UploadImages/EmpInfo/Stamp"/>
    <add key="STGMap.UploadImages.STGMapImage" value="_common/UploadImages/STGMap/STGMapImage"/>
    <add key="Excel.Temp" value="_common/Temp/Excel"/>
    <!-- 인터페이스 상세 실적 데이터 입력 경로 -->
    <add key="BSC.Interface.ExcelData" value="_common\Temp\InterfaceExcelData\"/>
    <add key="Ctl.UploadImages.CTL4100" value="_common/UploadImages/CTL4100"/>
    <add key="Ctl.UploadImages.SIGNAL" value="images/signal"/>
    <add key="Popup.Used" value="false"/>
    <add key="Domain.Name" value="."/>
    <add key="BSC.Authentication" value="Forms"/>
    <add key="COM.CHECK.IN.OUT.USE" value="TRUE"/>
    <!--운영관리에서 체크인-체크아웃 사용유무-->
    <add key="Mail.From" value="bhbang@micropolis.co.kr"/>
    <add key="Mail.Url" value="localhost"/>
    <add key="Mail.UseDeptMail" value="false"/>
    <!--<add key="Mail.SMTP" value="mail.micropolis.co.kr"/>-->
    <add key="Mail.SMTP" value="192.168.250.109"/>
    <add key="Mail.Template" value="~/_common/SendMailTemplate/"/>
    <!-- 메일템플릿 저장폴더 -->
    <add key="Base.Upload" value="d:/UploadFiles/"/>
    <add key="Base.Excel" value="d:/UploadFiles/Excel/"/>
    <add key="Role.Admin" value="1"/>
    <!--시스템관리자-->
    <add key="Role.Officer" value="2"/>
    <!--임원-->
    <add key="Role.Champ" value="3"/>
    <!--챔피언-->
    <add key="Role.Team" value="4"/>
    <!--팀장-->
    <add key="Role.Emp" value="5"/>
    <!--일반사원-->
    <add key="Role.CEO" value="6"/>
    <!--대표이사-->
    <add key="Role.Est_Emp" value="7"/>
    <!--평가자-->
    <add key="Role.BscAdmin" value="8"/>
    <!--BSC관리자-->
    <add key="Role.EstAdmin" value="9"/>
    <!--성과평가관리자-->
    <!--부서평가 의견상신 권한	10-->
    <!--역량평가 직무 설정 권한	11-->
    <!--질의풀 관리 권한	      12-->
    <!--EIS 관리자	            15-->
    <add key="Page.FirstPageUser" value="1000"/>
    <!--회장-->
    <add key="Page.SMGPageUser" value="1178"/>
    <!--SMG-->
    <!--조직상황판설정  -->
    <add key="Page.Layout" value="DEFAULT"/>
    <!--조직상황판의 시그널을 당월, 누적 모두 보여줄 것인지-->
    <add key="DTree.ShowAllSignal" value="Y"/>
    <!--조직상황판 백그라운드이미지 1~19-->
    <add key="DEPT_ORG_IMAGE" value="19"/>
    <add key="DTree.SignalSet" value="1"/>
    <!--조직상황판 시그널 이미지셋 (1~5)-->
    <add key="DTree.SignalLevel" value="4"/>
    <!--조직상황판 시그널 단계 -->
    <!--메인페이지 이미지 설정  logo.gif-->
    <add key="TopMenuLogo.ImageUrl" value="/images/NHIT/Logo_nhit.gif"/>
    <!--상단 메뉴로고 -->
    <add key="BottomPageCopy.ImageUrl" value="/images/NHIT/footer.gif"/>
    <!--하단 카피로고 -->
    <add key="LoginPage.ImageUrl" value="/images/login/login_nhit.gif"/>
    <!--로그인페이지 로고 login.gif-->
    <!--1:종합DASH BOARD, 2:종합평정결과분석, 3:조직상황판, 4:전략체계도, 5:시스템경고화면(경동) -->
    <!--intro:개인 intro BOARD-->
    <add key="MainPage.Type" value="intro"/>
    <!--페이지 레이아웃, DEFAULT : TOP : GROUP  -->
    <add key="FCKeditor:UserFilesPath" value="/Wherever/Directory/"/>
    <add key="OLAP_SERVER" value="DELL"/>
    <!-- MSSQL, ORACLE, OLEDB, ODBC -->
    <add key="DbProviderType" value="ORACLE"/>

    <!-- Secure Socket Layer -->
    <add key="SSL" value="N"/>
    <!-- 운영인지 개발인지 Y:운영 N:개발 -->
    <add key="SSLLIVE" value="N"/>
    <!-- SSL 사용여부 (Y:사용/ N:미사용/ Each:회사별로그인페이지) -->
    <add key="SSL.LoginPage" value="https://10.220.210.42:10443/base/NHIT_Login.aspx"/>
    <add key="SSL.LoginPageLive" value="https://bsc.nonghyupit.com:10443/base/NHIT_Login.aspx"/>

    <!-- SSL 사용여부 (Y:사용/ N:미사용/ Each:회사별로그인페이지) -->
    <add key="SSL.MainPage" value="http://10.220.210.42:8080/base/Main.aspx"/>
    <add key="SSL.MainPageLive" value="http://bsc.nonghyupit.com/base/Main.aspx"/>

    <!-- Single Sign On -->
    <add key="SSO" value="Y"/>
    <!-- Single Sign On 사용여부 (Yes:사용/ No:미사용/ Each:회사별로그인페이지) -->
    <!--<add key="SSO.MainPage" value="~/base/login.aspx"/>-->
    <add key="SSO.MainPage" value="~/login/nhit/nhit_sso.aspx"/>


    <!-- Default Page URL -->
    <add key="SSO.Request.Server.Check" value="N"/>
    <!-- Single Sign On Server 체크 여부 (Y:체크/ N:미체크) -->
    <add key="SSO.Request.Server" value="http://action.master.co.kr"/>
    <!-- 현재는 사용하지 않음 -->
    <add key="SSO.Request.OnlyID" value="Y"/>
    <!-- Yes:아이디만 인증/ No:아이디, 패스워드 모두인증 -->
    <!-- 로그인 시도 허용 횟수 -->
    <add key="MAX_LOGIN_FAILCNT" value="5"/>
    <!-- File Size -->
    <add key="File.Size.Small" value="5120"/>
    <!-- S:5M -->
    <add key="File.Size.Medium" value="10240"/>
    <!-- M:10M -->
    <add key="File.Size.Large" value="20480"/>
    <!-- L:20M -->
    <!-- Low HR Database Info 기간계 인사디비 -->
    <!--인사정보:Column:DEPT_REF_ID,EMP_REF_ID,EMP_NAME,RANK_CODE,RANK_NAME,CLASS_CODE,CLASS_NAME,DUTY_CODE,DUTY_NAME,GROUP_CODE,GROUP_NAME,USE_YN-->
    <!--<add key="Object.Table.EMP" value="KEPOS_BSC_Hrm_View"/>-->
    <!--부서정보:Column:DEPT_REF_ID,DEPT_NAME,UP_DEPT_ID,DEPT_TYPE,USE_YN-->
    <add key="Object.Table.DEPT" value="KEPOS_BSC_DEPT_View"/>
    <!--부경양돈 : 인사정보 : Column:DEPT_CODE, EMP_CODE, EMP_NAME, POS_RANK_CD, POS_RANK_NM, POS_CLS_CD, POS_CLS_NM, POS_DUTY_CD, POS_DUTY_NM, POS_GRP_CD, POS_GRP_NM, EMP_USEYN-->
    <add key="Object.Table.EMP" value="vm_bsc_emp"/>
    <!--부경양돈 : 부서정보 : Column:DEPT_CODE,DEPT_NAME,UP_DEPT_CODE,DEPT_TYPE_CODE, DEPT_TYPE_NAME,DEPT_USEYN-->
    <add key="Object.Table.DEPT" value="vm_bsc_dept"/>
    <!-- 암호화 사용여부 -->
    <!--1. 패스워드는 단방향 : FormsAuthentication.HashPasswordForStoringInConfigFile()-->
    <!--2. email, 전화번호 양방향-->
    <add key="ENCRYPTION_USE_YN" value="N"/>
    <!--단방향 암호화 방식 SHA1, MD5-->
    <add key="ENCRYPTION_ONEWAY_MODE" value="SHA1"/>
    <!-- 암호화 키 -->
    <!-- 1.ENCRYPTION_KEY value 값의 존재 여부로 해당 페이지 암호화를 판단 한다.
		     2.value 값은 반드시 8자리를 유지 하여야 함
			 3.첫번째 적용은 농협임(value = "CRYPTION") -->
    <add key="ENCRYPTION_KEY" value="CRYPTION"/>
    <!-- 경영전략회의 사용 유무 -->
    <add key="DEPT_ORG_SCORE_USE_YN" value="N"/>
    <!-- 과제맵으로 가기 사용 유무 -->
    <add key="WORKING_MAP_USE_YN" value="N"/>
    <!-- 결재처리의 외부위임 -->
    <add key="APPROVALGATEWAY" value=""/>
    <!-- 비밀번호 유효성검사여부 -->
    <add key="PASSWORD_VALIDATION_YN" value="N"/>
    <!-- 자가결재 사용안함여부 Y=사용안함 N=사용함 -->
    <add key="APPROVAL_SELF_NOTUSE_YN" value="N"/>
    <!-- Micropolis.Common.Workflow.SeoulMilk.ApprovalProcess -->
    <!--결재선변경이력관리 사용여부-->
    <add key="DRAFT_HISTORY_YN" value="Y"/>
    <!-- MBO평가 이메일연동 키추가-->
    <add key="Mail.UseMBOMailYN" value="true"/>
    <!-- 골 타켓 -->
    <add key="GOALTONG_YN" value="Y"/>
    <!-- 종합평가 est_id 원래는 12 -->
    <add key="EST_GRADE_ID" value="00"/>
    <!-- msChart 미리보기를 위해선 받드시 존재 -->
    <add key="ChartImageHandler" value="storage=file;timeout=20;deleteAfterSevicing=false;"/>
    <!-- 우클릭 허용 -->
    <add key="RIGHT_CLICK_YN" value="Y"/>
    <!--메뉴얼 다운로드 사용 유무-->
    <add key="MANUAL_DOWN_YN" value="N"/>
    <!--메뉴얼 경로-->
    <!--ex) "../manual.ppt"-->
    <add key="MANUAL_DOWN_URL" value=""/>
    <!--마스터사이트-->
    <add key="SITE" value="NHIT"/>
    <!--로그인페이지 경로-->
    <add key="Login_Page_Url" value="~/base/NHIT_Login.aspx"/>
    <!--점검유무-->
    <add key="MAINTAIN" value="N"/>
    <!--점검페이지-->
    <add key="MAINTAIN_PAGE" value="~/LOGIN/maintain.htm"/>
    <!--로그인 기록-->
    <add key="LOG_SIGNON" value="N"/>
    <!--페이지 열때마다 로그 기록 유무-->
    <add key="USE_PAGE_OPEN_LOG" value="N"/>
    <!--페이지 열때마다 로그 기록할 파일 경로-->
    <add key="PAGE_OPEN_LOG_FILE" value="D:\BSC_log.txt"/>
  </appSettings>
  <connectionStrings>
    <!-- mpdata 부경양돈농협-->
    <!--<add name="MainDB" connectionString="Data Source=micropolis.iptime.org, 1433;Initial Catalog=MICROBSC_PKPORK;User ID=sa;Password=akvhf8884?"/>
    <add name="SqlDbString" connectionString="Data Source=micropolis.iptime.org, 1433;Initial Catalog=MICROBSC_PKPORK;User ID=sa;Password=akvhf8884?"/>-->
    <!-- 가온전선-->
    <!--<add name="MainDB" connectionString="Data Source=192.168.58.61;Initial Catalog=MICROBSC_TEST;User ID=bsc;Password=gaon2012@"/>
    <add name="SqlDbString" connectionString="Data Source=192.168.58.61;Initial Catalog=MICROBSC_TEST;User ID=bsc;Password=gaon2012@"/>-->
    <!--<add name="MainDB" connectionString="Data Source=192.168.0.20;Initial Catalog=MICROBSC_gaon;User ID=sa;Password=1111"/>
    <add name="SqlDbString" connectionString="Data Source=192.168.0.20;Initial Catalog=MICROBSC_gaon;User ID=sa;Password=1111"/>-->
    <!-- hpserver 부경양돈농협-->
    <!--<add name="MainDB" connectionString="Data Source=127.0.0.1;Initial Catalog=microBSC_pkpork_new;User ID=sa;Password=park001"/>
    <add name="SqlDbString" connectionString="Data Source=127.0.0.1;Initial Catalog=microBSC_pkpork_new;User ID=sa;Password=park001"/>-->
    <add name="MainDB" connectionString="Data Source=.\mssql2008r2;Initial Catalog=MicroBSC_NHIT;User ID=sa;Password=1111"/>
    <add name="SqlDbString" connectionString="Data Source=.\mssql2008r2;Initial Catalog=MicroBSC_NHIT;User ID=sa;Password=1111"/>
    <!--<add name="MainDB" connectionString="Data Source=.\mssql2008r2;Initial Catalog=MicroBSC_mireco;User ID=sa;Password=1111"/>
	<add name="SqlDbString" connectionString="Data Source=.\mssql2008r2;Initial Catalog=MicroBSC_mireco;User ID=sa;Password=1111"/>-->
    <!--<add name="MainDB" connectionString="Data Source=127.0.0.1;Initial Catalog=bsc_gaon;User ID=sa;Password=park001"/>
    <add name="SqlDbString" connectionString="Data Source=127.0.0.1;Initial Catalog=bsc_gaon;User ID=sa;Password=park001"/>-->
    <!-- hpserver 가온아이-->
    <!--<add name="MainDB" connectionString="Data Source=micropolis.iptime.org, 1434;Initial Catalog=MICROBSC_GAON;User ID=sa;Password=akvhf8884?"/>
    <add name="SqlDbString" connectionString="Data Source=micropolis.iptime.org, 1434;Initial Catalog=MICROBSC_GAON;User ID=sa;Password=akvhf8884?"/>-->
    <!-- hpserver 자화전자-->
    <!--<add name="MainDB" connectionString="Data Source=micropolis.iptime.org, 1434;Initial Catalog=MicroBSC_PKPORK;User ID=sa;Password=akvhf8884?"/>
		<add name="SqlDbString" connectionString="Data Source=micropolis.iptime.org, 1434;Initial Catalog=MicroBSC_PKPORK;User ID=sa;Password=akvhf8884?"/>-->
    <!-- local 서울우유-->
    <!--<add name="MainDB" connectionString="Data Source=127.0.0.1, 1433;Initial Catalog=MicroBSC_SDC;User ID=sa;Password=park001"/>
		<add name="SqlDbString" connectionString="Data Source=127.0.0.1, 1433;Initial Catalog=MicroBSC_SDC;User ID=sa;Password=park001"/>-->
    <!-- local 로컬자화-->
    <!--<add name="MainDB" connectionString="Data Source=127.0.0.1, 1433;Initial Catalog=MicroBSC_jahwa;User ID=sa;Password=park001"/>
		<add name="SqlDbString" connectionString="Data Source=127.0.0.1, 1433;Initial Catalog=MicroBSC_jahwa;User ID=sa;Password=park001"/>-->
    <!--<add name="MainDB" connectionString="Data Source=127.0.0.1;Initial Catalog=MICROBSC_PKPORK;User ID=sa;Password=park001"/>
    <add name="SqlDbString" connectionString="Data Source=127.0.0.1;Initial Catalog=MICROBSC_PKPORK;User ID=sa;Password=park001"/>-->
    <!--<add name="MainDB" connectionString="Data Source=10.127.173.105;Initial Catalog=MICROBSC_jahwa;User ID=sa;Password=park001"/>
		<add name="SqlDbString" connectionString="Data Source=10.127.173.105;Initial Catalog=MICROBSC_jahwa;User ID=sa;Password=park001"/>-->
    <!--<add name="MainDB" connectionString="Data Source=10.127.173.106;Initial Catalog=MICROBSC_nicevan;User ID=sa;Password=1111"/>
		<add name="SqlDbString" connectionString="Data Source=10.127.173.106;Initial Catalog=MICROBSC_nicevan;User ID=sa;Password=1111"/>-->
    <!-- MP1 SCL-->
    <!--<add name="MainDB" connectionString="Data Source=mp1.micropolis.co.kr;Initial Catalog=MicroBSC_SCL;User ID=sa;Password=!sbakvhf2008"/>
		<add name="SqlDbString" connectionString="Data Source=mp1.micropolis.co.kr;Initial Catalog=MicroBSC_SCL;User ID=sa;Password=!sbakvhf2008"/>-->
    <!--<add name="MainDB_Oracle" connectionString="Data Source=dongbubsc_test;Persist Security Info=True;User ID=KETEP;Password=KETEP" providerName="System.Data.OracleClient"/>
		<add name="OracleDbString" connectionString="Data Source=dongbubsc_test;Persist Security Info=True;User ID=KETEP;Password=KETEP" providerName="System.Data.OracleClient"/>-->

    <!--<add name="MainDB_Oracle" connectionString="Data Source=nong;Persist Security Info=True;User ID=MICROBSC_CONV;Password=MICROBSC_CONV" providerName="System.Data.OracleClient"/>
		<add name="OracleDbString" connectionString="Data Source=nong;Persist Security Info=True;User ID=MICROBSC_CONV;Password=MICROBSC_CONV" providerName="System.Data.OracleClient"/>-->

    <!--<add name="MainDB_Oracle" connectionString="Data Source=orcl;Persist Security Info=True;User ID=bsc;Password=bsc369" providerName="System.Data.OracleClient"/>
    <add name="OracleDbString" connectionString="Data Source=orcl;Persist Security Info=True;User ID=bsc;Password=bsc369" providerName="System.Data.OracleClient"/>-->

    <add name="MainDB_Oracle" connectionString="Data Source=MICROBSC_DAU;Persist Security Info=True;User ID=microbsc_dku;Password=microbsc_dku" providerName="System.Data.OracleClient"/>
    <add name="OracleDbString" connectionString="Data Source=MICROBSC_DAU;Persist Security Info=True;User ID=microbsc_dku;Password=microbsc_dku" providerName="System.Data.OracleClient"/>

    <!--<add name="MainDB_Oracle" connectionString="Data Source=orcl10;Persist Security Info=True;User ID=microbsc;Password=microbsc" providerName="System.Data.OracleClient"/>
		<add name="OracleDbString" connectionString="Data Source=orcl10;Persist Security Info=True;User ID=microbsc;Password=microbsc" providerName="System.Data.OracleClient"/>-->

    <!--<add name="OracleDbString" connectionString="Data Source=10.220.210.100/TESTDB;Persist Security Info=True;User ID=bsc;Password=bsc123" providerName="System.Data.OracleClient"/>-->
    <add name="MainDB_Odbc" connectionString="Data Source=nong;Persist Security Info=True;User ID=MICROBSC_CONV;Password=MICROBSC_CONV" providerName="System.Data.OracleClient"/>
    <add name="OdbcDbString" connectionString="Data Source=nong;Persist Security Info=True;User ID=MICROBSC_CONV;Password=MICROBSC_CONV" providerName="System.Data.OracleClient"/>


    <add name="EISDB" connectionString="Data Source=mpdb01;Initial Catalog=Staging_Area;User ID=sa;Password=1111"/>
    <!--<add name="Low_HR_DB" connectionString="Data Source=172.30.1.108;Initial Catalog=MIS;User ID=kepbsc;Password=1" providerName="System.Data.SqlClient"/>-->
    <!--부경양돈 인사DB-->
    <!--<add name="Low_HR_DB" connectionString="Data Source=PKPORK;Persist Security Info=True;User ID=pkhr;Password=pkhr" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD"
       path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>

    <identity impersonate="true"/>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
      <add path="ChartImg.axd" verb="POST,GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35"
       validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <sessionState mode="InProc" timeout="60"></sessionState>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="VsWebSite.Interop, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms name=".aspxauth" loginUrl="~/base/Login.aspx" protection="All" timeout="30" path="/"></forms>-->
      <!--<forms name=".aspxauth" loginUrl="default.aspx" protection="All" timeout="30" path="/"></forms>-->
      <forms name=".aspxauth" loginUrl="nhitDFT.aspx" protection="All" timeout="30" path="/"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--<globalization requestEncoding="ks_c_5601-1987" responseEncoding="ks_c_5601-1987" fileEncoding="utf-8"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <customErrors mode="Off" defaultRedirect="_common/ErrorPages/GenericError.aspx">
      <error statusCode="500" redirect="_common/ErrorPages/CallSupport.aspx"/>
      <error statusCode="404" redirect="_common/ErrorPages/NotFound.aspx"/>
      <error statusCode="403" redirect="_common/ErrorPages/NoAccess.aspx"/>
    </customErrors>
    <!--<pages viewStateEncryptionMode="Always" enableViewStateMac="true">-->
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="SJ" namespace="SJ.WebControls" assembly="SJ.Web.UI" />
        <add tagPrefix="SJ" namespace="SJ.Web.UI" assembly="SJ.Web.UI" />
        <add tagPrefix="DCWC" namespace="Dundas.Charting.WebControl"
         assembly="DundasWebChart" />
        <add tagPrefix="DGWC" namespace="Dundas.Gauges.WebControl" assembly="DundasWebGauge" />
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" />
        <add tagPrefix="fd" namespace="FreezeDataGrid" assembly="FreezeDataGrid" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.DataSourceControls"
         assembly="Infragistics2.Web.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.EditorControls"
         assembly="Infragistics2.Web.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.LayoutControls"
         assembly="Infragistics2.Web.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.ListControls"
         assembly="Infragistics2.Web.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI" assembly="Infragistics2.WebUI.WebResizingExtender.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.Data" assembly="Infragistics2.WebUI.WebScheduleDataProvider.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.Misc" assembly="Infragistics2.WebUI.Misc.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebCalcManager"
         assembly="Infragistics2.WebUI.UltraWebCalcManager.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebChart"
         assembly="Infragistics2.WebUI.UltraWebChart.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebGauge"
         assembly="Infragistics2.WebUI.UltraWebGauge.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebGrid"
         assembly="Infragistics2.WebUI.UltraWebGrid.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebGrid.DocumentExport"
         assembly="Infragistics2.WebUI.UltraWebGrid.DocumentExport.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebGrid.ExcelExport"
         assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebListbar"
         assembly="Infragistics2.WebUI.UltraWebListbar.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebNavigator"
         assembly="Infragistics2.WebUI.UltraWebNavigator.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebTab"
         assembly="Infragistics2.WebUI.UltraWebTab.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.UltraWebToolbar"
         assembly="Infragistics2.WebUI.UltraWebToolbar.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebCombo" assembly="Infragistics2.WebUI.WebCombo.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebDataInput"
         assembly="Infragistics2.WebUI.WebDataInput.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebHtmlEditor"
         assembly="Infragistics2.WebUI.WebHtmlEditor.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebNavBar"
         assembly="Infragistics2.WebUI.WebNavBar.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebSchedule"
         assembly="Infragistics2.WebUI.WebSchedule.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebSchedule"
         assembly="Infragistics2.WebUI.WebDateChooser.v11.1" />
        <add tagPrefix="ig" namespace="Infragistics.WebUI.WebSpellChecker"
         assembly="Infragistics2.WebUI.WebSpellChecker.v11.1" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="100000" maxWaitChangeNotification="10"/>
    <!-- 파일업로드 용량설정 -->
    <machineKey validationKey="8CBC6F2EB657D143508EDBAA9C884F33B4C921BD21A0374D9FD671A00E904BC2FFD3D8C421528246F6DF1D0FB2AA6B0772D6EFBD30C77E866D8E7BB2D4316DCF" decryptionKey="BEC2E7599EFC5A6E195D1E20C06A3F2CBCBDDA96416044A399A4039A383845AB" validation="SHA1" decryption="AES" />
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="_common">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="_common/ErrorPages/ErrorInfo.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ctl/ctl1302.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="base/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="base/NHIT_Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="base/LogOut.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="usr/test.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ctr">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LOGIN">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
