.igdv_DayViewFrame
{
	background-color:#FFFFFF;
	cursor:default;
}

.igdv_CaptionHeader
{
	border: 1px solid #10377C;
	background-image: url(images/MonthHeaderCaption_bg.png);
	background-repeat: repeat-x;
	background-color:#003090;
	font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif;
	font-weight: bold;	
	font-size:12pt;
	color:#FFFFFF;
	height:24px;
	padding-top:1px;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
}

.igdv_DayHeader
{
	background-color:#10377C;
	font-family:Tahoma,Verdana;
	font-size:8pt;
	padding-left:2px;
	height:20px;
	color:#FFFFFF;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	border-right: 1px solid #10377C;
}

.igdv_TodayHeader
{
	border:0px;
	background-image: url(images/TodayHeader_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #95C6F0;
}

.igdv_TimeSlotLabel
{
	font-family:Tahoma,Verdana;
	font-size:16pt;
	text-align:center;
	vertical-align:top;
	background-color:#F7FBFD;
	width:60px;
	border-bottom:1px solid #A8A8A8;
	border-right:1px solid #A8A8A8;
	color: #10377C;
	border-left: 1px solid #A8A8A8;
}

.igdv_TimeSlotLabelMinutes
{
	vertical-align:9px;
	font-size:8pt;
}

.igdv_AllDayEventArea
{
	background-color:#335EA8;
	border-bottom: 1px solid #335EA8;
}

.igdv_AllDayEvent
{
	height:25px;
	border:solid 1px black;
	text-align:center;
	background-color:whitesmoke;
	font-family:Tahoma,Verdana;
	font-size:8pt;
	padding-left:3px;
	white-space:nowrap;
}

.igdv_AllDayEventSelected
{
	background-color:#D0D0D0;
	border-top-width:2px;
	border-bottom-width:2px;
}

.igdv_AllDayEventAreaSelected
{
	background-color:white;
}

.igdv_NonWorkingTimeSlot
{
	background-color:#E4F0F8;
	border-bottom:1px solid #7894C7;
}

.igdv_WorkingTimeSlot
{
	background-color:#F4FAFD;
	border-bottom:1px solid #C8D3E8;
}

.igdv_Appointment
{
	border:solid 1px #111111;
	background-color:White;
	font-family:Tahoma,Verdana;
	font-size:8pt;
}

.igdv_ActivityHover
{
	z-index:10000;
}

.igdv_SelectedAppointment
{
	z-index:9999;
}

.igdv_ActivityEdge
{
	font-size:1px;
	height:4px;
	cursor:n-resize;
}

.igdv_ActivityEdgeLeft
{
	font-size:2px;
	width:6px;
	cursor:move;
}

.igdv_ActivityEdgeBusy
{
	background-color:#0010E6;
}

.igdv_ActivityEdgeTentative
{
	background-color:#90C0FF;
}

.igdv_ActivityEdgeOutofOffice
{
	background-color:#900090;
}

.igdv_ActivityEdgeFree
{
	background-color:#F0F0F0;
}

.igdv_NavigationButton
{
	border:0px;
	width:17px;
	background-color:transparent;
	vertical-align:middle;
	cursor: hand;
}
